{% extends 'main.html' %}

{% block content %}
  <h1>Product List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in object_list %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.supplier }}</td>
          <td>
            <ul>
              <li><a href="{% url 'update_product' pk=product.pk %}">Update</a></li>
              <li><a href="{% url 'delete_product' pk=product.pk %}">Delete</a></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
