{% extends 'main.html' %}

{% block content %}
  <h1>Product List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Supplier</th>
      </tr>
    </thead>
    <tbody>
      {% for product in object_list %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.supplier }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No products found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
